@layer design-system {
  :where(:root) {
    --border-size-1: 1px;
    --border-size-2: 2px;
    --border-size-3: 4px;
    --border-size-4: 5px;
    --border-size-5: 10px;
    --border-size-6: 25px;
    --border-radius-1: 2px;
    --border-radius-2: 4px;
    --border-radius-3: 5px;
    --border-radius-4: 6px;
    --border-radius-5: .5rem;
    --border-radius-6: .625rem;
    --border-radius-7: .75rem;
    --border-radius-8: 1rem;
    --border-radius-9: 2rem;
    --border-radius-10: 4rem;
    --border-radius-11: 8rem;
    --border-radius-round: 1e5px;
    --border-radius-perfect-round: 3.519e12px;
    --border-radius-circle: 50%;
    --border-conditional-radius-1: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-1));
    --border-conditional-radius-2: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-2));
    --border-conditional-radius-3: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-3));
    --border-conditional-radius-4: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-4));
    --border-conditional-radius-5: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-5));
    --border-conditional-radius-6: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-6));
    --border-conditional-radius-7: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-7));
    --border-conditional-radius-8: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-8));
    --border-conditional-radius-9: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-9));
    --border-conditional-radius-10: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-10));
    --border-conditional-radius-11: clamp(0px, calc(100svi - 100%) * 1e5, var(--border-radius-11));
  }
}