@layer colors {
  :where(:root) {
    --black-color: 0% 0 0;
    --white-color: 100% 0 0;
    --gray-0: 98.16% 0.002 247.84;
    --gray-1: 96.32% 0.003 247.86;
    --gray-2: 94.17% 0.005 247.88;
    --gray-3: 91.09% 0.007 247.9;
    --gray-4: 86.71% 0.011 247.95;
    --gray-5: 76.92% 0.015 248.02;
    --gray-6: 64.28% 0.015 248.06;
    --gray-7: 42.76% 0.015 248.17;
    --gray-8: 34.51% 0.013 248.21;
    --gray-9: 26.21% 0.009 248.19;
    --gray-10: 21.2% 0.009 255.61;
    --gray-11: 16.76% 0.007 258.37;
    --gray-12: 11.24% 0.009 242.17;
    --stone-0: 98.39% 0.003 228.78;
    --stone-1: 96.62% 0.003 247.86;
    --stone-2: 94.51% 0.003 247.86;
    --stone-3: 91.61% 0.005 214.33;
    --stone-4: 87.28% 0.006 223.46;
    --stone-5: 77.32% 0.007 233.67;
    --stone-6: 68.68% 0.005 228.86;
    --stone-7: 60.32% 0.005 197.03;
    --stone-8: 51.78% 0.004 174.36;
    --stone-9: 43.33% 0.003 128.55;
    --stone-10: 34.74% 0.005 106.66;
    --stone-11: 26.3% 0.007 106.89;
    --stone-12: 18.14% 0.004 106.79;
    --red-0: 97.79% 0.010749906051195026 17.34037927927983;
    --red-1: 93.87% 0.030868399831746662 17.714795342008184;
    --red-2: 88.34% 0.06163334626139353 18.38651313022084;
    --red-3: 81.69% 0.103 19.53;
    --red-4: 75.63% 0.14600146252800328 21.104967448640114;
    --red-5: 71.16% 0.181 22.84;
    --red-6: 67.06% 0.204 24.52;
    --red-7: 63.24% 0.214 25.84;
    --red-8: 59.28% 0.211 26.53;
    --red-9: 54.57% 0.195 26.61;
    --red-10: 49.57% 0.175 26.46;
    --red-11: 44.25% 0.154 26.22;
    --red-12: 38.87% 0.134 26.07;
    --pink-0: 96.86% 0.01792402859226809 351.141483413555;
    --pink-1: 93.15% 0.04 352.16;
    --pink-2: 87.18% 0.071 355.09;
    --pink-3: 80.8% 0.11 357.15;
    --pink-4: 74.96% 0.147 358.8;
    --pink-5: 69.24% 0.177 1.25;
    --pink-6: 63.96% 0.197 3.19;
    --pink-7: 58.81% 0.201 5.25;
    --pink-8: 53.89% 0.193 6.48;
    --pink-9: 47.97% 0.172 6.83;
    --pink-10: 42.48% 0.151 6.38;
    --pink-11: 37.11% 0.129 5.58;
    --pink-12: 31.24% 0.106 4.62;
    --purple-0: 96.48% 0.018 314.74;
    --purple-1: 91.65% 0.052 319.03;
    --purple-2: 86.3% 0.096 319.46;
    --purple-3: 79.04% 0.152 319.77;
    --purple-4: 72.52% 0.196 319.53;
    --purple-5: 66.95% 0.219 319.07;
    --purple-6: 62.39% 0.225 318.91;
    --purple-7: 57.83% 0.219 319.15;
    --purple-8: 53.33% 0.203 319;
    --purple-9: 47.83% 0.181 318.86;
    --purple-10: 42.1% 0.157 319.11;
    --purple-11: 36.25% 0.133 318.93;
    --purple-12: 30.21% 0.106 319.2;
    --violet-0: 96.18% 0.02 295.19;
    --violet-1: 91.05% 0.04971566046480921 298.110146818624;
    --violet-2: 84.05% 0.08986853526888154 296.6040749632581;
    --violet-3: 73.98% 0.144 294.45;
    --violet-4: 65.77% 0.191 292.12;
    --violet-5: 60.29% 0.218 289.69;
    --violet-6: 56.92% 0.229 288.56;
    --violet-7: 54.21% 0.227 287.8;
    --violet-8: 51.2% 0.218 287.54;
    --violet-9: 48.12% 0.198 288.16;
    --violet-10: 43.61% 0.178 287.97;
    --violet-11: 39% 0.156 288.51;
    --violet-12: 34.34% 0.134 288.98;
    --indigo-0: 96.12% 0.018 269.09;
    --indigo-1: 92.04% 0.038 270.98;
    --indigo-2: 84.11% 0.07866879554114047 273.4979346510878;
    --indigo-3: 74.73% 0.12961380724033716 272.26608446912127;
    --indigo-4: 67.99% 0.163 271.04;
    --indigo-5: 62.8% 0.191 269.5;
    --indigo-6: 58.96% 0.205 268.62;
    --indigo-7: 55.66% 0.208 268.35;
    --indigo-8: 52.56% 0.199 268.04;
    --indigo-9: 48.41% 0.188 269.07;
    --indigo-10: 43.76% 0.169 269.4;
    --indigo-11: 39.27% 0.149 269.56;
    --indigo-12: 34.55% 0.127 269.77;
    --blue-0: 96.27% 0.02 238.66;
    --blue-1: 92.66% 0.039 240.01;
    --blue-2: 86.02% 0.07593952752827733 241.6648707824914;
    --blue-3: 78.2% 0.115 243.83;
    --blue-4: 71.8% 0.142 246.06;
    --blue-5: 66.89% 0.157 248.32;
    --blue-6: 62.59% 0.164 250.29;
    --blue-7: 58.56% 0.159 251.26;
    --blue-8: 54.26% 0.149 251.67;
    --blue-9: 49.72% 0.133 251.59;
    --blue-10: 44.32% 0.117 251.19;
    --blue-11: 38.85% 0.1 251.3;
    --blue-12: 33.09% 0.082 250.66;
    --cyan-0: 96.89% 0.024 203.08;
    --cyan-1: 94.05% 0.05 202.5;
    --cyan-2: 88.56% 0.079 204.84;
    --cyan-3: 82.43% 0.106 206.82;
    --cyan-4: 77% 0.119 207.56;
    --cyan-5: 72% 0.119 211.22;
    --cyan-6: 67.77% 0.114 210.62;
    --cyan-7: 62.49% 0.106 212.19;
    --cyan-8: 56.75% 0.097 213.4;
    --cyan-9: 50.9% 0.087 215.07;
    --cyan-10: 43.77% 0.074 214.34;
    --cyan-11: 36.38% 0.061 214.76;
    --cyan-12: 28.54% 0.046 213.38;
    --teal-0: 97.31% 0.025 174.76;
    --teal-1: 94.25% 0.061 172.92;
    --teal-2: 89.59% 0.096 173.35;
    --teal-3: 84.08% 0.13 170.11;
    --teal-4: 79.26% 0.147 167.92;
    --teal-5: 74.41% 0.148 166.36;
    --teal-6: 69.46% 0.143 164.88;
    --teal-7: 64.32% 0.134 164.7;
    --teal-8: 58.51% 0.123 164.1;
    --teal-9: 52.92% 0.11 164.67;
    --teal-10: 45.3% 0.093 165.07;
    --teal-11: 37.36% 0.076 165.63;
    --teal-12: 28.63% 0.056 167.96;
    --green-0: 97.27% 0.024 151.19;
    --green-1: 94.63% 0.059 148.83;
    --green-2: 90.38% 0.099 148.43;
    --green-3: 85.62% 0.141 147.8;
    --green-4: 80.2% 0.168 147.32;
    --green-5: 76.02% 0.183 146.61;
    --green-6: 71.46% 0.183 146.44;
    --green-7: 67.41% 0.177 146.24;
    --green-8: 61.72% 0.162 146.43;
    --green-9: 56.04% 0.143 146.89;
    --green-10: 48.3% 0.121 146.9;
    --green-11: 40.55% 0.099 147.2;
    --green-12: 32.09% 0.075 147.29;
    --lime-0: 97.85% 0.034 121.48;
    --lime-1: 96% 0.068 122.93;
    --lime-2: 92.99% 0.111 124.18;
    --lime-3: 88.48% 0.154 125.92;
    --lime-4: 84.74% 0.188 127.98;
    --lime-5: 80.71% 0.202 129.8;
    --lime-6: 76% 0.2 131.08;
    --lime-7: 70.99% 0.19 131.53;
    --lime-8: 66.16% 0.18 132.25;
    --lime-9: 60.43% 0.162 131.55;
    --lime-10: 52.61% 0.14 131.31;
    --lime-11: 44.76% 0.118 131.23;
    --lime-12: 36.26% 0.093 130.65;
    --yellow-0: 97.9% 0.03956210666559445 97.75672342501291;
    --yellow-1: 96.1% 0.06790217651789869 96.58954087169707;
    --yellow-2: 94.02% 0.10486308817656052 96.83472364933995;
    --yellow-3: 90.97% 0.14400790021880616 95.11197187031514;
    --yellow-4: 88.26% 0.1648482291234316 92.22168317139845;
    --yellow-5: 84.71% 0.169 87.12;
    --yellow-6: 80.69% 0.167 78.12;
    --yellow-7: 77.02% 0.16582987571471072 71.02211948777222;
    --yellow-8: 73.11% 0.167 62.62;
    --yellow-9: 68.35% 0.169 54.96;
    --yellow-10: 56.79% 0.1398632416733952 55.455155640235084;
    --yellow-11: 44.79% 0.108 57.16;
    --yellow-12: 38.41% 0.091 58.93;
    --orange-0: 97.2% 0.021971639401550308 74.10109789840963;
    --orange-1: 94.24% 0.04460473571680806 72.67518629337512;
    --orange-2: 90.39% 0.07583927071471314 72.41544469844727;
    --orange-3: 85.03% 0.11490584512810995 68.95126967388705;
    --orange-4: 80.34% 0.146 64.6;
    --orange-5: 76.16% 0.16860311721681184 57.801154247888526;
    --orange-6: 72.65% 0.183 51.48;
    --orange-7: 68.51% 0.195 44.57;
    --orange-8: 64.42% 0.192 41.69;
    --orange-9: 59.99% 0.19 37.88;
    --orange-10: 54.72% 0.172 38.29;
    --orange-11: 46.64% 0.144 38.43;
    --orange-12: 41.2% 0.125 38.96;
    --choco-0: 97.73% 0.037 95.44;
    --choco-1: 92.27% 0.057 75.63;
    --choco-2: 86.77% 0.077 65.88;
    --choco-3: 81.1% 0.098 59.23;
    --choco-4: 75.55% 0.119 55.97;
    --choco-5: 70.12% 0.136 53.79;
    --choco-6: 64.55% 0.152 51.17;
    --choco-7: 58.83% 0.142 50.73;
    --choco-8: 52.87% 0.128 50.11;
    --choco-9: 46.93% 0.111 51.22;
    --choco-10: 41.02% 0.091 52.35;
    --choco-11: 35.07% 0.072 53.66;
    --choco-12: 28.05% 0.053 54.07;
    --brown-0: 96.93% 0.014 78.26;
    --brown-1: 91.3% 0.025 71.46;
    --brown-2: 85.22% 0.036 63.16;
    --brown-3: 79.7% 0.047 63.84;
    --brown-4: 73.64% 0.058 61.38;
    --brown-5: 67.94% 0.068 61.67;
    --brown-6: 62.09% 0.076 61.54;
    --brown-7: 56.25% 0.074 61.07;
    --brown-8: 50.49% 0.07 60.49;
    --brown-9: 44.58% 0.066 59.75;
    --brown-10: 38.55% 0.064 54.41;
    --brown-11: 32.92% 0.062 51.23;
    --brown-12: 29.56% 0.054 50.37;
    --sand-0: 98.39% 0.003 228.78;
    --sand-1: 91.82% 0.011 95.17;
    --sand-2: 85.44% 0.025 91.64;
    --sand-3: 78.65% 0.036 90.55;
    --sand-4: 72.28% 0.036 90.56;
    --sand-5: 65.76% 0.037 90.58;
    --sand-6: 58.89% 0.036 87.29;
    --sand-7: 52.62% 0.036 89.19;
    --sand-8: 45.94% 0.028 85.75;
    --sand-9: 39.51% 0.022 89.49;
    --sand-10: 32.94% 0.014 89.88;
    --sand-11: 26.3% 0.007 106.89;
    --sand-12: 18.14% 0.004 106.79;
    --camo-0: 98.12% 0.026 111.51;
    --camo-1: 92.39% 0.103 111.24;
    --camo-2: 86.74% 0.165 114.24;
    --camo-3: 81.59% 0.168 114.07;
    --camo-4: 76.31% 0.155 112.05;
    --camo-5: 70.85% 0.143 110.01;
    --camo-6: 65.53% 0.131 107.99;
    --camo-7: 60.44% 0.119 105.44;
    --camo-8: 55.15% 0.108 102.9;
    --camo-9: 49.69% 0.096 102.59;
    --camo-10: 44.17% 0.084 101.29;
    --camo-11: 38.98% 0.073 101.94;
    --camo-12: 30.7% 0.055 100.15;
    --jungle-0: 96.56% 0.101 118.9;
    --jungle-1: 92.86% 0.115 119.51;
    --jungle-2: 89.15% 0.128 120.12;
    --jungle-3: 85.43% 0.141 120.76;
    --jungle-4: 81.6% 0.148 120.94;
    --jungle-5: 77.98% 0.155 121.51;
    --jungle-6: 74.35% 0.159 122.22;
    --jungle-7: 70.8% 0.162 122.7;
    --jungle-8: 67.3% 0.16 123.03;
    --jungle-9: 63.63% 0.154 122.96;
    --jungle-10: 55.84% 0.135 123.25;
    --jungle-11: 47.59% 0.114 122.73;
    --jungle-12: 39.24% 0.093 122.48;
    --neon-red: var(--red-6);
    --neon-cyan: 90.54% 0.1545 194.77;
    --neon-pink: 65.49% 0.2613 356.94;
    --neon-purple: var(--purple-6);
    --neon-purple-on-dark: 62.63% 0.2211 294.14;
    --neon-blue: 81.9% 0.1387 217.04;
    --neon-green: var(--lime-6);
    --neon-orange: var(--orange-6);
    --neon-yellow: var(--yellow-3);
    @media (dynamic-range:high) {
      @supports (color: color(display-p3 0 0 0)) {
        --neon-red: color(display-p3 1 0 0);
        --neon-cyan: color(display-p3 0 0.75 1);
        --neon-pink: color(display-p3 1 0 1);
        --neon-purple: color(display-p3 .5 0 1);
        --neon-purple-on-dark: color(display-p3 .5 0.35 1);
        --neon-blue: color(display-p3 0 0 1);
        --neon-green: color(display-p3 0 1 0);
        --neon-orange: color(display-p3 1 .5 0);
        --neon-yellow: color(display-p3 1 1 0);
      }
    }
  }
}