@use 'colors';
@layer themes {
  :where([data-theme="grape"], .grape, .grape-theme) {
    color-scheme: light;
    --link-color: var(--purple-5);
    --link-visited-color: var(--indigo-5);
    --brand-primary-color: initial;
    --brand-secondary-color: initial;
    --surface-color-0: var(--black-color);
    --surface-color-1: var(--purple-0);
    --surface-color-2: var(--purple-1);
    --surface-color-3: var(--purple-2);
    --surface-color-4: var(--purple-3);
    --document-surface-color: var(--surface-color-2);
    --text-color-1: var(--purple-9);
    --text-color-2: var(--purple-7);
    --scroll-thumb-color: var(--surface-4-color);
  }
}