@use 'colors';
@layer themes {
  :where([data-theme="light"], .light, .light-theme) {
    color-scheme: light;
    --link-color: var(--indigo-7);
    --link-visited-color: var(--purple-7);
    --brand-primary-color: initial;
    --brand-secondary-color: initial;
    --surface-color-0: var(--white-color);
    --surface-color-1: var(--gray-0);
    --surface-color-2: var(--gray-2);
    --surface-color-3: var(--gray-3);
    --surface-color-4: var(--gray-4);
    --document-surface-color: var(--surface-color-2);
    --text-color-1: var(--gray-12);
    --text-color-2: var(--gray-7);
    --scroll-thumb-color: var(--text-color-2);
    @media (dynamic-range: high) {
      @supports (color: color(display-p3 0 0 0)) {
        --link-color: color(display-p3 .1 .4 1);
        --link-visited-color: color(display-p3 .6 .2 1);
      }
    }
  }
}