@layer sizes {
  :where(:root) {
    --size-1: -0.5rem;
    --size-2: -0.25rem;
    --size-3: .25rem;
    --size-4: .5rem;
    --size-5: 1rem;
    --size-6: 1.25rem;
    --size-7: 1.5rem;
    --size-8: 1.75rem;
    --size-9: 2rem;
    --size-10: 3rem;
    --size-11: 4rem;
    --size-12: 5rem;
    --size-13: 7.5rem;
    --size-14: 10rem;
    --size-15: 15rem;
    --size-16: 20rem;
    --size-17: 30rem;
    --content-size-1: 20ch;
    --content-size-2: 45ch;
    --content-size-3: 60ch;
    --content-size-4: 80ch;
    --content-size-5: 90ch;
    --content-size-6: 100ch;
    --content-size-7: 111.31ch; // 960px
    --content-size-8: 118.73ch; // 1024px
    --content-size-9: 129.16ch; // 1140px
    --content-size-10: 142.61ch; // 1230px
    --content-size-11: 155.37ch; // 1440px
    --fluid-size-1: clamp(0.5rem, 1vi, 1rem);
    --fluid-size-2: clamp(1rem, 2vi, 1.5rem);
    --fluid-size-3: clamp(1.5rem, 3vi, 2rem);
    --fluid-size-4: clamp(2rem, 4vi, 3rem);
    --fluid-size-5: clamp(4rem, 5vi, 5rem);
    --fluid-size-6: clamp(5rem, 7vi, 7.5rem);
    --fluid-size-7: clamp(7.5rem, 10vi, 10rem);
    --fluid-size-8: clamp(10rem, 20vi, 15rem);
    --fluid-size-9: clamp(15rem, 30vi, 20rem);
    --fluid-size-10: clamp(20rem, 40vi, 30rem);
    --header-size-1: 20ch;
    --header-size-2: 25ch;
    --header-size-3: 35ch;
    --size-xxs: 15em;
    --size-xs: 22.5em;
    --size-sm: 30em;
    --size-md: 48em;
    --size-lg: 64em;
    --size-xl: 90em;
    --size-xxl: 120em;
    --relative-size-1: -0.5ch;
    --relative-size-2: -0.25ch;
    --relative-size-3: .25ch;
    --relative-size-4: .5ch;
    --relative-size-5: 1ch;
    --relative-size-6: 1.25ch;
    --relative-size-7: 1.5ch;
    --relative-size-8: 1.75ch;
    --relative-size-9: 2ch;
    --relative-size-10: 3ch;
    --relative-size-11: 4ch;
    --relative-size-12: 5ch;
    --relative-size-13: 7.5ch;
    --relative-size-14: 10ch;
    --relative-size-15: 15ch;
    --relative-size-16: 20ch;
    --relative-size-17: 30ch;
  }
}